/*
{
	border : 0.5px solid black;
}

*/


body  
{
	margin : 0px;
	background-image : url( ../fond.png);
}



/*------------------------------ PARTIE MENU  ----------------------------------------------*/

#menu2
{

	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height : 55px;
	margin-top: 25px;


}

#menu2 ul li:hover
{

	background-color: Bisque;
}

#menu2 ul li
{
	font-family: "simplicity";
	font-size: x-large;
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height: 100%;
	padding-left : 25px;
	padding-right: 25px;
	
	
}

#menu2 ul 
{
	display : flex;
	justify-content : center;
	flex-wrap: wrap;
	background-color: SandyBrown;
	list-style:none;
	width: 70%;
}

#first
{
	color: black;

}

#second
{
	color: black;
}

#third
{
	color: black;
}

#last
{
	color: black;

}


@font-face
{
	font-family : "simplicity";
	src: url('../simplicity.ttf');
}





/*------------------------------- BANDEAU ENTREPRISE RECHERCHE PANIER ---------------------------------*/


header input 
{
	height:40px;
	width: 250px;
	padding-left: 20px;
}

.loupe 
{
	float : left;
	height: 40px;
	width : auto;
	padding-right: 5px;
}

.logo 
{
	height : 95px;
	width: auto;
}

form
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height: 100%;
}


header ul
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}


header ul p
{
	font-family: "simplicity";
	font-size: x-large;
}



header ul img 
{
	
	width: 60px;

	height: auto;
	margin : 20px;
	padding-right: 20px;
	border-right : 3px solid black;
}


header
{
	display : flex;
	justify-content : space-around;
	width : 100%;
	height : 100px;
	
	background-color : lightblue;
}

section img 
{
	width:200px;
	height:200px;
}
 

/* --------------------------------- BANDEAU CONTACT ----------------------------------- */

footer 
{
	
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 50px;
	background-color : SandyBrown;
}


.avis
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}

.avis img
{
	height: 40px;
	width : auto;
	margin-right: 30px;
}

.contact
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	text-decoration : none;
}

.contact img 
{
	height: 40px;
	width : auto;
	margin-right: 30px;
}

.social
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}

.social img 
{
	width:40px;
	height:40px;
	margin-right : 60px;
}

.social img:hover,
.social img:focus 
{
	transform: scale(1.2);
	box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
}

footer div p 
{
	font-family: "simplicity";
	font-size: large;
	margin-left : 10px;
	margin-right: 10px;
}



/* --------------------------------- LISTE ARTICLES ----------------------------------- */

#articles
{
	display : flex;
	flex-direction: column-reverse;
	justify-content : center;
	text-align: center;
	align-items : center;
}

.listeart
{
	display : flex;
	flex-wrap: wrap;
	justify-content : center;
	text-align: center;
	align-items : center;
	border-left: 5px dotted SandyBrown;
	border-right: 5px dotted SandyBrown;
	width : 75%;
	margin-top: 50px;

}

.listeart img
{
	height: auto;
	width: 320px;
	margin: 50px;

	border: 1px solid SandyBrown;
}



.titreart
{
	display : flex;
	justify-content : space-between;
	align-items : center;
	width : 75%;
	height : 70px;
	font-size : 60px;
	font-family : "simplicity";
	color : Brown;
	margin-top: 40px;
	padding-bottom: 30px;	
	border-bottom: 2px solid SandyBrown;
}

.titreart .recherche
{
	font-weight: bolder;
}


/* --------------------------------- DESCRIPTION ARTICLE ----------------------------------- */

#carte
{
	flex-wrap: wrap;
	font-family: "simplicity";
	font-size: large;
	border-left: 2px solid SandyBrown;
	width : 30%;
	padding-left: 30px;


}

#carte p
{
	display: flex;
	justify-content: flex-start;
	margin:10px;
}

#carte .dispo
{
	border: 2px solid SandyBrown;
	padding: 5px;
}

#qt
{
	display: flex;
	text-align: center;
	width : 50px;
	height : 20px;
	margin-left: 10px;

}

#prix p
{
	width: 49%;
	margin: 10px;
}

#prix 
{
	display: flex;
	justify-content: space-between;
	align-items : center;
}

#prix p:first-child
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	font-size: xx-large;
	font-weight:bolder;
}

#ajout
{
	display: flex;
	justify-content: flex-start;
	margin: 10px;
}

#ajout img
{
	margin : 0px;
	border : none;
}

#ajout img:hover,
#ajout img:hover 
{
	transform: scale(1.2);
	box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
}


/* ------------- TEXTE DESCRIPTION ----------------- */

#descrart
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	
	width : 75%;
	margin-bottom: 50px;
	border-left: 5px dotted SandyBrown;
	border-right: 5px dotted SandyBrown;
	padding-top: 50px;
	margin-top: 5px;
	
	

}

.description
{
	display : flex;
	justify-content : center;
	text-align: justify;
	align-items : center;
	flex-direction: column;
	width : 90%;
	
}

#titredesc
{
	font-family: "simplicity";
	font-weight: bolder;
	font-size: 40px;
	color : Maroon;
	border-bottom: 2px solid SandyBrown;
	margin: 0px;
}

.description .texte
{
	display: inline-block;

	font-family: "simplicity";
	font-size: 20px;
	font-weight: bolder;
	color : maroon;
	margin-bottom: 50px;
}

/* ---------------------------- PARTIE COMMENTAIRES ------------------ */

.description .commentaire
{
	font-family: "simplicity";
	font-weight: bolder;
	font-size: 40px;
	color : Maroon;
	border-bottom: 2px solid SandyBrown;
	margin: 0px;
}

.description .commentaire2
{
	font-family: "simplicity";
	font-weight: bolder;
	font-size: large;
	color : Maroon;
	width: 100%;
	margin-top : 20px;
	
}

.ecrire
{
	width: 100%;
	background-color: none;
}

.ecrire p
{
	font-family: "simplicity";
}
.ecrire form
{
	display: flex;
	justify-content: flex-end;
	width: 305px;

}

.ecrire .envoie
{
	margin-right: 5px;
}