body  {
	background-image : url( ../fond.png);
}

header
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 150px;
	border-radius : 10px;
	background-color : lightblue;
}



nav ul li  {
	display: inline-block;
	margin-left: 30px;
	line-height:35px;

	

}
a:hover {
	background-color: coral;

}

nav {
	background-color: lightgreen;
	height:35px;
	
	
	}

nav ul #search a {
	border: 1px solid black;
	background-color: lightblue;
	border-radius: 5px;
}	
nav ul #panier img {
	
	width: 20px;
	height:20px;
	margin-right: 10px;
	margin-top:5px;
}
 

section img {
	width:200px;
	height:200px;
}
footer {
	display:block;
	width:100%;
	height:5%;
	background-color: coral;
}
div {
	position: absolute;
	top:1000px;	
	width:100%;
	height:5%;
	background-color: lightpink;
}



 
	 
#panier, #search {
		float:right;
}


div a {
	color: green;
}

section img {
	width:200px;
	height:200px;
}
footer {
	display:block;
	width:100%;
	height:5%;
	background-color: sandybrown;	
	margin-top:1000px;
}

section  {
	margin-top:200px;
	margin-left: 50px;
}
footer img {
	width:40px;
	height:40px;
	margin-right : 60px;
}
