body  {
	background-image : url( ../fond.png);
}

nav ul li  {
	display: inline-block;
	margin-left: 30px;
	line-height:35px;

	

}
a:hover {
	background-color: coral;

}

nav {
	background-color: lightblue;
	height:35px;
	
	
	}

nav ul #search a {
	border: 1px solid black;
	background-color: lightblue;
	border-radius: 5px;
}	
nav ul #panier img {
	
	width: 20px;
	height:20px;
	margin-right: 10px;
	margin-top:5px;
}
 

section img {
	width:200px;
	height:200px;
}
footer {
	display:block;
	width:100%;
	height:5%;
	background-color: coral;
}
div {
	position: absolute;
	top:1000px;	
	width:100%;
	height:5%;
	background-color: lightpink;
}



 
	 
#panier, #search {
		float:right;
}


div a {
	color: green;
}

section img {
	width:200px;
	height:200px;
}
footer {
	display:block;
	width:100%;
	height:5%;
	background-color: coral;
}


footer img {
	width:40px;
	height:40px;
	margin-right : 60px;
}
.modal{


}

.modal:before {
	content:"";
	position:fixed;
	display:none;
	background-color:rgba(0,0,0,.8);
	top: 0;
	left:0;
	width:100%;
}

.modal-container{
	position: fixed; 
	background-color:#fff; 
	left:50%;
	max-width:500px;
	padding: 20px;
	border-radius:5px;
	-webkit-transform:translate(-50%,-200%);
	-ms-transform: translate (-50%,-200%);
	transform:translate (-50%,-200%);
	
}
p {
	
	margin-top:0px;
}
	
	
	
