body  {
	background-image : url( ../fond.png);
}
/*------------------------------ partie menue (fond vert) ----------------------------------------------*/
nav ul li  {
	display: inline-block;
	margin-left: 30px;
	line-height:35px;

	

}
a:hover {
	background-color: coral;

}

nav {
	background-color: lightgreen;
	height:35px;
}
/*------------------------------------------------------------------------------------------------------*/

/*-----------------------------------barre de recherche image panier------------------------------------*/
nav ul #search a {
	border: 1px solid black;
	background-color: lightblue;
	border-radius: 5px;
}	
nav ul #panier img {
	
	width: 20px;
	height:20px;
	margin-right: 10px;
	margin-top:5px;
}
/*-----------------------------------------------------------------------------------------------------*/
 header
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 150px;
	border-radius : 10px;
	background-color : lightblue;
}

section img {
	width:200px;
	height:200px;
}
footer {

	display:block;
	width:100%;
	height:5%;
	background-color: sandybrown;
}
div {
	position: absolute;
	top:1000px;	
	width:100%;
	height:5%;
	background-color: lightpink;
}



 
	 
#panier, #search {
		float:right;
}



div a {
	color: green;
}

section img {
	width:200px;
	height:200px;
}
footer {
	
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 50px;
	border-radius : 10px;
	background-color : SandyBrown;
	
}


footer img {
	width:40px;
	height:40px;
	margin-right : 60px;
}





	

