body  {
	background-image = url(" page2/2.jpg");
}

nav ul li  {
	display: inline-block;
	margin-left: 30px;
	line-height:35px;
	

}
a:hover {
	background-color: green ;

}

nav {
	background-color: lightblue;
	height:35px;
	
	}

nav ul #search a {
	border: 1px solid black;
	background-color: lightblue;
	border-radius: 3px;
}	
nav ul #panier img {
	
	width: 20px;
	height:20px;
	margin-right: 10px;
	margin-top:5px;
}
div {
	float:right;
	background-color: 142b47;
}

div a {
	color: green;
}