body * {
	border: 1px solid black;
}



#main {
	display:flex;
}

#first {
	width: 50px;
	height:50px;
	background-color: pink;
	Flex-grow:1;
	text-align:center
}

#second {
	width: 50px;
	height:50px;
	background-color: coral ;
	Flex-grow:1;
	text-align:center
}

#third {
	width: 50px;
	height:50px;
	background-color: khaki;
	Flex-grow:1;
	text-align:center
}

#fourth {
	width: 50px;
	height:50px;
	background-color: gray;
	Flex-grow:1;
	text-align:center
	
	
}
	
}
div:hover {
	background-color: lightblue;
	//width: 20px;
	//display: inline-block;
}