/*
{
	border : 0.5px solid black;
}

*/

body  
{
	margin : 0px;
	background-image : url( ../fond.png);
}



/*------------------------------ PARTIE MENU  ----------------------------------------------*/

#menu2
{

	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height : 55px;
	margin-top: 25px;


}

#menu2 ul li:hover
{

	background-color: Bisque;
}

#menu2 ul li
{
	font-family: "simplicity";
	font-size: x-large;
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height: 100%;
	padding-left : 25px;
	padding-right: 25px;
	
	
}

#menu2 ul 
{
	display : flex;
	justify-content : center;
	background-color: SandyBrown;
	list-style:none;
	width: 70%;
}

#first
{
	color: black;

}

#second
{
	color: black;
}

#third
{
	color: black;
}

#last
{
	color: black;
}


@font-face
{
	font-family : "simplicity";
	src: url('../simplicity.ttf');
}





/*------------------------------- BANDEAU ENTREPRISE RECHERCHE PANIER ---------------------------------*/


header input 
{
	height:40px;
	width: 250px;
	padding-left: 20px;
}

.loupe 
{
	float : left;
	height: 40px;
	width : auto;
	padding-right: 5px;
}

.logo 
{
	height : 95px;
	width: auto;
}

form
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height: 100%;
}


header ul
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}


header ul p
{
	font-family: "simplicity";
	font-size: x-large;
}



header ul img 
{
	
	width: 60px;

	height: auto;
	margin : 20px;
	padding-right: 20px;
	border-right : 3px solid black;
}


header
{
	display : flex;
	justify-content : space-around;
	width : 100%;
	height : 100px;
	
	background-color : lightblue;
}

section img {
	width:200px;
	height:200px;
}

}
div {
	position: absolute;
	top:1000px;	
	width:100%;
	height:5%;
	background-color: lightpink;
}

 


/* --------------------------------- BANDEAU CONTACT ----------------------------------- */

footer 
{
	
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 50px;
	background-color : SandyBrown;
}


.avis
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}

.avis img
{
	height: 40px;
	width : auto;
	margin-right: 30px;
}

.contact
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	text-decoration : none;
}

.contact img 
{
	height: 40px;
	width : auto;
	margin-right: 30px;
}

.social
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}

.social img 
{
	width:40px;
	height:40px;
	margin-right : 60px;
}

.social img:hover,
.social img:focus 
{
	transform: scale(1.2);
	box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
}

footer div p 
{
	font-family: "simplicity";
	font-size: large;
	margin-left : 10px;
	margin-right: 10px;
}


/*---------------------------------------- SLIDESHOW ---------------------------------------- */
	

/* Slideshow tirée du site https://www.alsacreations.com/tuto/lire/1059-ID-slideshow-css3-animation-keyframes-automatique.html */

#slideshow {
	border : 5px dotted SandyBrown;
	position: relative;
	width: 1100px;
	height: 600px;
	margin: 20px auto;
	overflow: hidden;
}
#sContent li {
	display: inline;
}

#sContent {
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;            
	padding: 0;
	width: 1100px;
	height: 600px;
	
	
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

#sContent img
{
	width : 1100px;
	height : 600px;

}


@keyframes AutoSlide {
	0% {
		left: 1100px; /*1ère image*/
	}
	15% {
		left: 1100px; /*idem pour attente*/
	}
	35% {
		left: 0px; /*2ème image*/
	}
	50% {
		left: 0px; /*idem pour attente*/
	}
	70% {
		left: -1100 px; /*3ème image*/
	}
	85% {
		left: -1100px; /*idem pour attente*/
	}
	100% {
		left: 1100px; /*1ère image*/
	}
}
