*
{
	border : 0.5px solid black;
}


body  
{
	margin : 0px;
	background-image : url( ../fond.png);
}
/*------------------------------ partie menu  ----------------------------------------------*/

nav ul li
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	margin : 1px ;
	height: 50px;
	font-size: large;
}

nav ul 
{
	display : flex;
	justify-content : flex-start;
	text-align: center;
	align-items : center;
	background-color: SandyBrown;
	height : 50px;
	margin-right : 150px;
	margin-left : 150px;
	margin-top: 25px;
	list-style:none;
}
/*------------------------------------------------------------------------------------------------------*/



/*------------------------------- BANDEAU ENTREPRISE RECHERCHE PANIER ---------------------------------*/


header input 
{
	height:40px;
	width: 250px;
	padding-left: 20px;
}

.loupe 
{
	float : left;
	height: 40px;
	width : auto;
	padding-right: 5px;
}

.logo 
{
	height : 100px;
	width: auto;
}

#search 
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}


	

header ul
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}


header ul img 
{
	
	width: 60px;

	height: auto;
	margin : 20px;
	padding-right: 20px;
	border-right : 3px solid black;
}


header
{
	display : flex;
	justify-content : space-around;
	/* 
	
	text-align: center;
	align-items : center;

	*/

	width : 100%;
	height : 100px;
	
	background-color : lightblue;
}

section img {
	width:200px;
	height:200px;
}

}
div {
	position: absolute;
	top:1000px;	
	width:100%;
	height:5%;
	background-color: lightpink;
}



 
	 


/* --------------------------------- BANDEAU CONTACT ----------------------------------- */

footer {
	
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 50px;
	background-color : SandyBrown;
	
}


footer img {
	width:40px;
	height:40px;
	margin-right : 60px;
}


.social
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}

footer div p 
{
	padding-right: 20px;
	margin-left: 30px;
}

footer p 
{
	margin-left : 30px ;
}

footer div img:hover,
footer div img:focus 
{
	transform: scale(1.2);
	box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
}


