body  {
	background-image : url( ../.jpg);
}

nav ul li  {
	display: inline-block;
	margin-left: 30px;
	line-height:35px;
	

}
a:hover {
	background-color: coral;

}

nav {
	background-color: lightblue;
	height:35px;
	
	}

nav ul #search a {
	border: 1px solid black;
	background-color: lightblue;
	border-radius: 5px;
}	
nav ul #panier img {
	
	width: 20px;
	height:20px;
	margin-right: 10px;
	margin-top:5px;
}
div {
	float:right;
	background-color: 142b47;
}

div a {
	color: green;
}

section img {
	width:200px;
	height:200px;
}
footer {
	display:block;
	width:100%;
	height:5%;
	background-color: coral;
}
div {
	position: absolute;
	top:1000px;	
	width:100%;
	height:5%;
	background-color: lightpink;
}
	