/*
{
	border : 0.5px solid black;
}

*/


body  
{
	margin : 0px;
	background-image : url( ../fond.png);
}



/*------------------------------ PARTIE MENU  ----------------------------------------------*/

#menu2
{

	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height : 55px;
	margin-top: 25px;


}

#menu2 ul li:hover
{

	background-color: Bisque;
}

#menu2 ul li
{
	font-family: "simplicity";
	font-size: x-large;
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height: 100%;
	padding-left : 25px;
	padding-right: 25px;
	
	
}

#menu2 ul 
{
	display : flex;
	justify-content : center;
	background-color: SandyBrown;
	list-style:none;
	width: 70%;
}

#first
{
	color: black;

}

#second
{
	color: black;
}

#third
{
	color: black;
}

#last
{
	color: black;
}


@font-face
{
	font-family : "simplicity";
	src: url('../simplicity.ttf');
}





/*------------------------------- BANDEAU ENTREPRISE RECHERCHE PANIER ---------------------------------*/


header input 
{
	height:40px;
	width: 250px;
	padding-left: 20px;
}

.loupe 
{
	float : left;
	height: 40px;
	width : auto;
	padding-right: 5px;
}

.logo 
{
	height : 95px;
	width: auto;
}

form
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	height: 100%;
}


header ul
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}


header ul p
{
	font-family: "simplicity";
	font-size: x-large;
}



header ul img 
{
	
	width: 60px;

	height: auto;
	margin : 20px;
	padding-right: 20px;
	border-right : 3px solid black;
}


header
{
	display : flex;
	justify-content : space-around;
	width : 100%;
	height : 100px;
	
	background-color : lightblue;
}

section img 
{
	width:200px;
	height:200px;
}
 

/* --------------------------------- BANDEAU CONTACT ----------------------------------- */

footer 
{
	
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 50px;
	background-color : SandyBrown;
}


.avis
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}

.avis img
{
	height: 40px;
	width : auto;
	margin-right: 30px;
}

.contact
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	text-decoration : none;
}

.contact img 
{
	height: 40px;
	width : auto;
	margin-right: 30px;
}

.social
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
}

.social img 
{
	width:40px;
	height:40px;
	margin-right : 60px;
}

.social img:hover,
.social img:focus 
{
	transform: scale(1.2);
	box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
}

footer div p 
{
	font-family: "simplicity";
	font-size: large;
	margin-left : 10px;
	margin-right: 10px;
}


/* --------------------------------- LISTE ARTICLES ----------------------------------- */

#articles
{
	display : flex;
	flex-direction: column-reverse;
	justify-content : center;
	text-align: center;
	align-items : center;
}

.listeart
{
	display : flex;
	flex-wrap: wrap;
	justify-content : center;
	text-align: center;
	align-items : center;
	border-left: 5px dotted SandyBrown;
	border-right: 5px dotted SandyBrown;
	width : 75%;
	margin-bottom: 50px;


}

.listeart img
{
	height: auto;
	width: 250px;
	margin: 50px 50px 0px 50px;

	border-top: 3px solid SandyBrown;
	border-left: 3px solid SandyBrown;
	border-right: 3px solid SandyBrown;
}

.listeart p
{
	width: 250px;
	margin: 0px 52px 0px 52px;
	font-family: "simplicity";
	font-size: large;
	font-weight: bold; 
	color: maroon;
	border-left: 3px solid SandyBrown;
	border-right: 3px solid SandyBrown;

	
}

.listeart .prix
{
	width: 250px;
	margin: 0px 52px 0px 52px;
	font-size: xx-large;
	border-bottom: 3px solid SandyBrown;
	border-left: 3px solid SandyBrown;
	border-right: 3px solid SandyBrown;
	font-weight: bolder; 
	padding-top: 10px;
}

.titreart
{
	display : flex;
	justify-content : space-between;
	align-items : center;
	width : 75%;
	height : 70px;
	font-size : 60px;
	font-family : "simplicity";
	color : Brown;
	margin-top: 40px;	
}

.titreart .recherche
{
	font-weight: bolder;
}

.titreart .trouve
{
	font-size: x-large;
}

#ordre
{
	display: inline-block;
	width: 75%;
}

.lister
{
	float:left;
}

.trier
{
	float:right;
}