*
{
	border : 1px solid;
}

header
{
	display : inline-block;
	line-height : 100px;
	text-align: center;
	width : 100%;
	height : 100px;
	
}

main
{
	display : inline-block;
	width : 49%;
	text-align: center;
	margin-left : 1.2%;
	height : 600px;
}
	

footer
{
	display : block;
	width: : 100%;
	text-align: center;
}

.promos
{
	display : inline-block;
	float: right;
	width : 24%;
	text-align: center;
	height : 600px;
}

.images
{
	display : inline-block;
	float : left;
	width : 24%;
	text-align: center;
	height : 600px;
}
:a hover {
	background-color : pink;
}