
/* *
{
	border : 1px solid red;
}
*/

/* --------------------------------------- PARTIE GLOBALE DE LA PAGE --------------------------------------- */

body
{


	background-image : url(background1.png);
	
	/* background-size: cover;
	background-attachment: fixed;
	*/
}

header
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 150px;
	border-radius : 10px;
	background-color : Lightblue;
}

main
{
	display : inline-block;
	width : 49%;
	line-height : 600px;
	text-align: center;
	vertical-align: center;
	margin-left : 1.2%;
	height : 600px;
	
}

footer
{
	display : flex;
	justify-content : center;
	text-align: center;
	align-items : center;
	width : 100%;
	height : 100px;
	border-radius : 10px;
	background-color : SandyBrown;
}


/* --------------------------------------- PARTIE PROMOTIONS --------------------------------------- */

.promos
{
	display : flex;
	flex-direction : column-reverse;
	justify-content : space-between;
	align-items : center;
	float: right;
	width : 24%;
	text-align: center;
	height : 560px;
	border-left : 5px dotted SandyBrown;
	border-right: 5px dotted SandyBrown;
	margin-top : 20px;
	
	
}

#defilpromo
{
	display : flex;
	flex-direction : column-reverse;
	justify-content : space-between;
	align-items: center;
	height : 590px;
	
}	

#defilpromo img 
{
	display : flex;
	width: 50%;
}




/* -------------------------------------------- PARTIE IMAGE ------------------------------------------------------ */ 


.images
{
	display : flex;
	flex-direction : column-reverse;
	justify-content : space-between;
	align-items : center;
	float : left;
	width : 24%;
	text-align: center;
	height : 560px;
	border-left: 5px dotted Lightblue;
	border-right: 5px dotted Lightblue;
	margin-top : 20px;

	
}

#defilimage
{
	display : flex;
	flex-direction : column-reverse;
	justify-content : space-between;
	align-items: center;
	height : 590px;

}

#defilimage img
{
	display : flex;
	width: 50%;
}

/* --------------------------------------- PARTIE LOGO --------------------------------------- */

.logo 
{
	height : 80%;
}


/* --------------------------------------- ANIMATION MESSAGE BIENVENUE --------------------------------------- */

.acceuil1:hover,
.acceuil1:focus 
{
	transform: scale(1.2);
	box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
}


.bienvenue 
{
  display : inline-block;
  line-height : 60px;
  color: maroon;
  font-family: lato;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  -webkit-animation: bounceIn 1.5s both 2s;

}


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

