
/*
{
	border : 1px solid red;
}
*/

body
{
	background-image : url(background1.png);
}

header
{
	display : inline-block;
	text-align: center;
	width : 100%;
	height : 150px;
	border : 2px solid BurlyWood;
	border-radius : 10px;
	
}

main
{
	display : inline-block;
	width : 49%;
	line-height : 600px;
	text-align: center;
	
	text-align: center;
	margin-left : 1.2%;
	height : 600px;
	
}
	

footer
{
	display : block;
	width: : 100%;
	text-align: center;
}

.promos
{
	display : inline-block;
	float: right;
	width : 24%;
	text-align: center;
	height : 600px;
	border : 2px solid Maroon;
	border-radius : 10px;
	
}

.images
{
	display : inline-block;
	float : left;
	width : 24%;
	text-align: center;
	height : 600px;
	border : 2px solid Maroon;
	border-radius : 10px;
	
}

.acceuil1
{
	max-width: 10%;
	height: auto;

}

.logo
{
	display: inline;
	max-width: 100px;
	height: auto;
	margin-top : 10px;

}

header p
{
	text-align : center;
}